{% extends 'diary_app/base.html' %}
{% block body_block %}
    <div>
        <h2>Enter Credentials:</h2>
        
        {% if form.errors %}
            <p>Username and Password do not match.</p>
        {% endif %}

        <form action="{% url 'entry_list' %}" method="POST">
            {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" value="Login">
                <input type="hidden" name='next' value="{{ next }}">
        </form>

    </div>
{% endblock %}